# ====================================================================
# Nanobody-antigen ensemble docking example 
# with true paratope and epitope definition
# ====================================================================

# directory in which the results will be stored
run_dir = "[name]"

# execution mode
mode = "local"
ncores = 500

# molecules to be docked
molecules = [
    "[name]",
    "data/B7-H3.pdb",
]

# ====================================================================
# Parameters for each stage are defined below, prefer full paths
# ====================================================================
[topoaa]

[rigidbody]
# paratope to epitope ambig restraints
ambig_fname = "restraints.tbl"
tolerance = 5

[caprieval]
reference_fname = "data/Nb-Ag.pdb"

[seletop]
select = 200

[caprieval]
reference_fname = "data/Nb-Ag.pdb"

[flexref]
tolerance = 10
ambig_fname = "restraints.tbl"

[caprieval]
reference_fname = "data/Nb-Ag.pdb"

[emref]
ambig_fname = "restraints.tbl"

[caprieval]
reference_fname = "data/Nb-Ag.pdb"

[clustfcc]

[seletopclusts]
top_models = 2

[caprieval]
reference_fname = "data/Nb-Ag.pdb"

[prodigyprotein]
to_pKd = true

[emscoring]

[mdscoring]

# ====================================================================